:root {
    --color-bg-footer: hsl(0, 0%, 98%);
    --color-bg-alt: hsl(256, 26%, 20%);

    --color-text: hsl(270, 9%, 17%);
    --color-text-alt: hsl(273, 4%, 51%);

    --color-icon: hsl(216, 30%, 68%);

    --gap-small: 4vmin;
    --gap-medium: 8vmin;
    --gap-height: 10vh;
    --gap-width: 10vw;

}


*,                      /*----------GLOBALS---------*/
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
    width: 100%;
    min-height: 100%;
    font-family: "Karla", sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
}
main {
    display: flex;
    flex-direction: column;
}

ul {
  list-style: none;
}

section {
    display: flex;
    gap: var(--gap-small);
    
    padding: var(--gap-height) var(--gap-width);
}

header {
    display: flex;
    flex-direction: row;
    padding: var(--gap-small);
    justify-content: space-between;
}

h1, h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}

h1 {
    font-size: 5.5vmax;
    line-height: 0.9;
}
.accent-block {       /*-------------HERO AND MORE--------*/
    background-color: var(--color-bg-alt);
    color: var(--color-bg-footer);
}

.accent-block a {
    text-decoration: none;
    color: var(--color-bg);
    border: 1px solid var(--color-bg-footer);
    width: max-content;
    padding: 10px 20px;
    text-transform: uppercase;
}

.hero {
    flex-direction: column-reverse;
    overflow-y: visible;
    position: relative;
    height: min-content;
    margin-bottom: 10vh;
    padding: 0;
}

.hero__text {
    padding: 7vh 7vw;

    display: flex;
    flex-direction: column;
    gap: 4vmin;
}

.hero__image-wrapper {
    width: 100%;
    height: auto; 
}

.hero img {
    width: 100%;
    height: auto;
}

.advantages {
    flex-direction: column;
}
.advantages__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.advantades__advantage-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--gap-small);
}

.advantage-image {
    width: 25%;
    height: auto;
}

.more {
    padding: 2vw;
    margin: 10vw;
}

footer {
    background-color: var(--color-bg-footer);
}
.footer-content {
    display: flex;
    flex-direction: column;
        padding: 10vh 10vw;
        gap: var(--gap-medium);
}

.footer__brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
}

.footer__footer-navigation {
    display: flex;
    flex-direction: column;
}

.footer__footer-navigation nav,
.footer__footer-navigation ul  {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--gap-small);
}

.footer__footer-navigation nav {
    gap: var(--gap-medium);
}

@media (min-width: 769px) {  /*-----------DESKTOP STYLES-------------*/

    .hero {
        flex-direction: row;
        padding: 10vh 10vw;
    }

    .hero__text {
    width: 50%;
    padding: 7vh 0;

    display: flex;
    flex-direction: column;
    }

    .hero__image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; 
    z-index: 1; 
    padding-top: inherit;
    padding-right: inherit;
    padding-left: var(--gap-small);
    }

    .advantages__wrapper {
        flex-direction: row;
        gap: 5vw;
    }
    .advantades__advantage-card {
        text-align: start;
        align-items: start;
    }

    .footer__brand {
    flex-direction: row;
    justify-content: space-between;
    }

    .footer__footer-navigation {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    .footer__footer-navigation nav,
    .footer__footer-navigation ul {
    text-align: start;
    }

    .nav-help {
        grid-column: 3 / 4;
    }

    .nav-contact{
        grid-column: 5 / 6;
    }

    .nav-others {
        grid-column: 7 / 8;
    }
}