:root {
    --color-bg: hsl(0, 0%, 98%);
    --color-bg-alt: hsl(270, 9%, 17%);

    --color-text: hsl(256, 26%, 20%);
    --color-text-alt: hsl(273, 4%, 51%);

    --color-icon: hsl(216, 30%, 68%);
}

.accent-block {
    background-color: var(--color-bg-alt);
    color: var(--color-bg);
}

.advantages__wrapper {
    display: flex;
    flex-direction: column;
}
.advantades__advantage-card {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media (min-width: 769px) {
    .advantages__wrapper {
        flex-direction: row;
    }
}