:root {
    --color-bg-footer: hsl(0, 0%, 98%);
    --color-bg-alt: hsl(270, 9%, 17%);

    --color-text: hsl(256, 26%, 20%);
    --color-text-alt: hsl(273, 4%, 51%);

    --color-icon: hsl(216, 30%, 68%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    min-height: 100%;
}

p {
    font-size: 16px;
}
main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    gap: 5vmin;
    padding: 10vh 10vw;
}

.accent-block {
    background-color: var(--color-bg-alt);
    color: var(--color-bg-footer);
}

.accent-block a {
    text-decoration: none;
    color: var(--color-bg);
    border: 1px solid var(--color-bg-footer);
}

.hero {
    overflow-y: visible;
    position: relative;
    height: min-content;
    margin-bottom: 10vh;
}

.hero__text {
    width: 50%;
    padding: 7vh 0;

    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.hero__image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; 
  z-index: 1; 
  padding: inherit;
}

.hero img {
    width: 100%;
    height: auto;
}

.advantages {
    flex-direction: column;
}
.advantages__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.advantades__advantage-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.advantage-image {
    width: 25%;
    height: auto;
}

.more {
    padding: 2vw;
    margin: 10vw;
}

footer {
    background-color: var(--color-bg-footer);
}
.footer-content {
        padding: 10vh 10vw;
}
.footer__footer-navigation {
    display: flex;
    flex-direction: column;
}
.footer__footer-navigation nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 769px) {
    .advantages__wrapper {
        flex-direction: row;
        gap: 5vw;
    }
    .advantades__advantage-card {
        text-align: start;
    }


    .footer__footer-navigation {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    .footer__footer-navigation nav {
    text-align: start;
    }

    .nav-help {
        grid-column: 3 / 4;
    }

    .nav-contact{
        grid-column: 5 / 6;
    }

    .nav-others {
        grid-column: 7 / 8;
    }
}